# BIOS512 Homework 4, Tyler West

## Libraries

In [2]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.2
✔ ggplot2   4.0.0     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.1.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [3]:
library(dplyr)
library(tidyr)

## Question 1

In [4]:
table_a <- tibble(
  SKU = c(102345, 104567, 108912, 109876, 112233),
  Fruit = c("Apple", "Orange", "Mango", "Blueberry", "Watermelon"),
  Color = c("Red", "Orange", "Yellow", "Blue", "Green"),
  Price = c(1.20, 1.40, 1.70, 3.50, 4.40),
  In_Stock = c("Yes", "Yes", "No", "Yes", "No")
)

table_b <- tibble(
  SKU = c(102345, 105432, 106789, 104567, 107654),
  Fruit = c("Apple", "Banana", "Grape", "Orange", "Pear"),
  Color = c("Red", "Yellow", "Purple", "Orange", "Green"),
  Sale_Price = c(1.00, 0.50, 2.00, 1.20, 1.10),
  Number_in_Stock = c(50, 120, 0, 75, 0)
)
head(table_a)
head(table_b)

  SKU    Fruit      Color  Price In_Stock
1 102345 Apple      Red    1.2   Yes
2 104567 Orange     Orange 1.4   Yes
3 108912 Mango      Yellow 1.7   No
4 109876 Blueberry  Blue   3.5   Yes
5 112233 Watermelon Green  4.4   No

  SKU    Fruit  Color  Sale_Price Number_in_Stock
1 102345 Apple  Red    1.0         50
2 105432 Banana Yellow 0.5        120
3 106789 Grape  Purple 2.0          0
4 104567 Orange Orange 1.2         75
5 107654 Pear   Green  1.1          0

### a) Left join

In [37]:
table_ab <- table_a %>%
left_join(table_b, by = c("SKU", "Fruit", "Color")) %>%
select("SKU", "Fruit", "Color", "Price", "Sale_Price", "In_Stock", "Number_in_Stock")
head(table_ab)

  SKU    Fruit      Color  Price Sale_Price In_Stock Number_in_Stock
1 102345 Apple      Red    1.2   1.0        Yes      50
2 104567 Orange     Orange 1.4   1.2        Yes      75
3 108912 Mango      Yellow 1.7    NA        No       NA
4 109876 Blueberry  Blue   3.5    NA        Yes      NA
5 112233 Watermelon Green  4.4    NA        No       NA

### b) Right Join

In [36]:
table_ab <- table_a %>%
right_join(table_b, by = c("SKU", "Fruit", "Color")) %>%
select("SKU", "Fruit", "Color", "Price", "Sale_Price", "In_Stock", "Number_in_Stock")
head(table_ab)

  SKU    Fruit  Color  Price Sale_Price In_Stock Number_in_Stock
1 102345 Apple  Red    1.2   1.0        Yes       50
2 104567 Orange Orange 1.4   1.2        Yes       75
3 105432 Banana Yellow  NA   0.5        NA       120
4 106789 Grape  Purple  NA   2.0        NA         0
5 107654 Pear   Green   NA   1.1        NA         0

### c) Inner Join

In [35]:
table_ab <- table_a %>%
inner_join(table_b, by = c("SKU", "Fruit", "Color")) %>%
select("SKU", "Fruit", "Color", "Price", "Sale_Price", "In_Stock", "Number_in_Stock")
head(table_ab)

  SKU    Fruit  Color  Price Sale_Price In_Stock Number_in_Stock
1 102345 Apple  Red    1.2   1.0        Yes      50
2 104567 Orange Orange 1.4   1.2        Yes      75

### d) Full Join

In [34]:
table_ab <- table_a %>%
full_join(table_b, by = c("SKU", "Fruit", "Color")) %>%
select("SKU", "Fruit", "Color", "Price", "Sale_Price", "In_Stock", "Number_in_Stock")
head(table_ab)

  SKU    Fruit      Color  Price Sale_Price In_Stock Number_in_Stock
1 102345 Apple      Red    1.2   1.0        Yes       50
2 104567 Orange     Orange 1.4   1.2        Yes       75
3 108912 Mango      Yellow 1.7    NA        No        NA
4 109876 Blueberry  Blue   3.5    NA        Yes       NA
5 112233 Watermelon Green  4.4    NA        No        NA
6 105432 Banana     Yellow  NA   0.5        NA       120

### e) Semi Join

In [40]:
table_ab <- table_a %>%
semi_join(table_b, by = c("SKU", "Fruit", "Color"))
head(table_ab)

  SKU    Fruit  Color  Price In_Stock
1 102345 Apple  Red    1.2   Yes
2 104567 Orange Orange 1.4   Yes

In [43]:
table_ab <- table_b %>%
semi_join(table_a, by = c("SKU", "Fruit", "Color"))
head(table_ab)

  SKU    Fruit  Color  Sale_Price Number_in_Stock
1 102345 Apple  Red    1.0        50
2 104567 Orange Orange 1.2        75

### f) Anti Join

In [41]:
table_ab <- table_a %>%
anti_join(table_b, by = c("SKU", "Fruit", "Color"))
head(table_ab)

  SKU    Fruit      Color  Price In_Stock
1 108912 Mango      Yellow 1.7   No
2 109876 Blueberry  Blue   3.5   Yes
3 112233 Watermelon Green  4.4   No

In [42]:
table_ab <- table_b %>%
anti_join(table_a, by = c("SKU", "Fruit", "Color"))
head(table_ab)

  SKU    Fruit  Color  Sale_Price Number_in_Stock
1 105432 Banana Yellow 0.5        120
2 106789 Grape  Purple 2.0          0
3 107654 Pear   Green  1.1          0

## Question 2

In [5]:
getwd()
dgs <- read_csv("demographics.csv")
full <- read_csv("full.csv")
hosps <- read_csv("hospitals.csv")
p_names <- read_csv("patient_names.csv")
treat <- read_csv("treatment_info.csv")
head(full,5)
head(hosps,5)
head(p_names,5)
head(dgs,5)
head(treat,5)

[1] "/home/jovyan/hw4"

Rows: 35 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): patient_id, gender, race, ethnicity
dbl (1): age

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 35 Columns: 16
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (12): patient_id, name, gender, race, ethnicity, condition, treatment, ...
dbl   (2): age, patient_zipcode
date  (2): admission_date, release_date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 5 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (5): hospital_id, hospital_name, hospital_address, hospital_city, hospit...
dbl (1): hospital_zip_code

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 35 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): patient_id, name, hospital_id, condition_id

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 5 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): condition_id, condition, treatment, department

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  patient_id name                age gender race     ethnicity    condition
1 P001       Mary Hicks          51  Male   Hispanic Non-Hispanic Cancer
2 P002       Matthew Christensen 73  Male   Hispanic Non-Hispanic Heart Disease
3 P003       Lisa Graham         49  NA     White    Non-Hispanic Asthma
4 P004       Greg Brown           6  Other  White    Non-Hispanic Heart Disease
5 P005       Joshua Baker        64  Other  White    Non-Hispanic Heart Disease
  treatment       department hospital admission_date release_date
1 Chemotherapy    Oncology   H1       2024-09-30     2025-04-24
2 Bypass Surgery  Cardiology H5       2025-06-09     2025-09-04
3 Inhaler Therapy Pediatrics H5       2025-09-08     2025-09-08
4 Bypass Surgery  Cardiology H3       2025-09-02     2025-09-06
5 Bypass Surgery  Cardiology H1       2025-02-23     2025-06-24
  patient_address               patient_city     patient_state patient_zipcode
1 NA                            NA               NA               NA
2 762 Hatfield Lights Apt. 887  North Thomasbury WI            96149
3 25592 Foley Forge Suite 365   New Tiffany      IN            33286
4 1189 Swanson Pike Apt. 921    Underwoodburgh   NV             9762
5 81598 Chambers Mall Suite 136 Timothyfurt      HI            99546

  hospital_id hospital_name            hospital_address hospital_city
1 H1          Greenwood Medical Center 123 Maple St     Springfield
2 H2          Lakeside Hospital        456 Elm St       Madison
3 H3          Sunrise Health           789 Oak Ave      Los Angeles
4 H4          Valley General Hospital  321 Pine Rd      Denver
5 H5          Mountainview Clinic      654 Birch Blvd   Boulder
  hospital_state hospital_zip_code
1 IL             62701
2 WI             53703
3 CA             90012
4 CO             80203
5 CO             80302

  patient_id name                hospital_id condition_id
1 P001       Mary Hicks          H1          C
2 P002       Matthew Christensen H5          HD
3 P003       Lisa Graham         H5          A
4 P004       Greg Brown          H3          HD
5 P005       Joshua Baker        H1          HD

  patient_id age gender race     ethnicity
1 P001       51  Male   Hispanic Non-Hispanic
2 P002       73  Male   Hispanic Non-Hispanic
3 P003       49  NA     White    Non-Hispanic
4 P004        6  Other  White    Non-Hispanic
5 P005       64  Other  White    Non-Hispanic

  condition_id condition     treatment              department
1 HD           Heart Disease Bypass Surgery         Cardiology
2 S            Stroke        Rehabilitation Therapy Neurology
3 C            Cancer        Chemotherapy           Oncology
4 F            Fracture      Surgery                Orthopedics
5 A            Asthma        Inhaler Therapy        Pediatrics

## Question 3

In [69]:
full_long <- pivot_longer(full, age:patient_zipcode,
    names_to = "property",
    values_to = "observation",
    values_transform = function(x) ifelse(is.na(x), NA, as.character(x)))

head(full_long, 14)

   patient_id name       property        observation
1  P001       Mary Hicks age             51
2  P001       Mary Hicks gender          Male
3  P001       Mary Hicks race            Hispanic
4  P001       Mary Hicks ethnicity       Non-Hispanic
5  P001       Mary Hicks condition       Cancer
6  P001       Mary Hicks treatment       Chemotherapy
7  P001       Mary Hicks department      Oncology
8  P001       Mary Hicks hospital        H1
9  P001       Mary Hicks admission_date  2024-09-30
10 P001       Mary Hicks release_date    2025-04-24
11 P001       Mary Hicks patient_address NA
12 P001       Mary Hicks patient_city    NA
13 P001       Mary Hicks patient_state   NA
14 P001       Mary Hicks patient_zipcode NA

In [68]:
full_long %>% 
group_by(patient_id) %>% 
tally() %>% 
arrange(desc(n))

   patient_id n
1  P001       14
2  P002       14
3  P003       14
4  P004       14
5  P005       14
6  P006       14
7  P007       14
8  P008       14
9  P009       14
10 P010       14
11 P011       14
12 P012       14
13 P013       14
14 P014       14
15 P015       14
16 P016       14
17 P017       14
18 P018       14
19 P019       14
20 P020       14
21 P021       14
22 P022       14
23 P023       14
24 P024       14
25 P025       14
26 P026       14
27 P027       14
28 P028       14
29 P029       14
30 P030       14
31 P031       14
32 P032       14
33 P033       14
34 P034       14
35 P035       14

In [66]:
full_long %>% 
group_by(name) %>% 
tally() %>% 
arrange(desc(n))

   name                n
1  Anthony Anderson    14
2  April Sanchez       14
3  Ashley Johnson      14
4  Casey Norman        14
5  Dylan Lopez DVM     14
6  Erica Foley         14
7  Greg Brown          14
8  Heather Chandler    14
9  Holly Contreras     14
10 Holly Mclaughlin    14
11 Jessica Ibarra      14
12 John Brown          14
13 John Ibarra         14
14 John Rodriguez      14
15 Jose Young          14
16 Joseph Thompson     14
17 Joshua Baker        14
18 Kathryn Harrison    14
19 Kristine Lewis      14
20 Lisa Graham         14
21 Maria Bruce         14
22 Mary Cobb           14
23 Mary Hicks          14
24 Matthew Christensen 14
25 Matthew Jones       14
26 Matthew Rogers      14
27 Melinda Moody       14
28 Nathan Chase        14
29 Nicholas Smith MD   14
30 Samuel Herrera      14
31 Spencer Wells       14
32 Thomas Logan        14
33 Wanda Simmons       14
34 Wendy Richardson    14
35 Whitney Fuller      14

## Question 4

In [12]:
char_long <- full %>%
  pivot_longer(
    cols = c(gender, race, ethnicity, condition, treatment, department, hospital, patient_address, patient_city, patient_state),
    names_to = "var_chr",
    values_to = "value_chr"
  ) %>%
  group_by(patient_id, name) %>%
  mutate(row = row_number()) %>%
  ungroup()

num_long <- full %>%
  pivot_longer(
    cols = c(age, patient_zipcode),
    names_to = "var_num",
    values_to = "value_num"
  ) %>%
  group_by(patient_id, name) %>%
  mutate(row = row_number()) %>%
  ungroup()

date_long <- full %>%
  pivot_longer(
    cols = c(admission_date, release_date),
    names_to = "var_date",
    values_to = "value_date"
  ) %>%
  group_by(patient_id, name) %>%
  mutate(row = row_number()) %>%
  ungroup()

full_long <- char_long %>%
  full_join(num_long, by = c("patient_id", "name", "row")) %>%
  full_join(date_long, by = c("patient_id", "name", "row"))

tally <- full_long %>%
  group_by(patient_id, name) %>%
  summarise(
    n_chr  = sum(!is.na(value_chr)),
    n_num  = sum(!is.na(value_num)),
    n_date = sum(!is.na(value_date)),
    .groups = "drop"
  )

head(tally,35)

   patient_id name                n_chr n_num n_date
1  P001       Mary Hicks           7    1     2
2  P002       Matthew Christensen 10    2     2
3  P003       Lisa Graham          9    2     2
4  P004       Greg Brown          10    2     2
5  P005       Joshua Baker        10    2     2
6  P006       Wendy Richardson    10    2     2
7  P007       April Sanchez       10    2     2
8  P008       Melinda Moody       10    2     2
9  P009       Dylan Lopez DVM     10    2     2
10 P010       Maria Bruce         10    2     2
11 P011       Kristine Lewis      10    2     2
12 P012       Jessica Ibarra      10    2     2
13 P013       Matthew Rogers      10    2     2
14 P014       Joseph Thompson     10    2     2
15 P015       Holly Contreras     10    2     2
16 P016       Heather Chandler     8    2     2
17 P017       John Brown          10    2     2
18 P018       Nathan Chase        10    2     2
19 P019       Casey Norman         7    1     2
20 P020       Nicholas Smith MD   10    2     2
21 P021       Mary Cobb           10    2     2
22 P022       Thomas Logan        10    2     2
23 P023       Anthony Anderson    10    2     2
24 P024       Matthew Jones       10    2     2
25 P025       Kathryn Harrison    10    2     2
26 P026       Jose Young          10    2     2
27 P027       Samuel Herrera      10    2     2
28 P028       Wanda Simmons       10    2     2
29 P029       Whitney Fuller      10    2     2
30 P030       John Rodriguez      10    1     2
31 P031       John Ibarra         10    2     2
32 P032       Erica Foley         10    2     2
33 P033       Spencer Wells       10    2     2
34 P034       Holly Mclaughlin    10    2     2
35 P035       Ashley Johnson      10    2     2

## Question 5

In [23]:
p_hosps <- p_names %>%
left_join(hosps, by = c("hospital_id")) %>%
select (patient_id, name, condition_id, everything())

p_hosps <- p_hosps %>% select(-hospital_id)

head(p_hosps,35)

   patient_id name                condition_id hospital_name
1  P001       Mary Hicks          C            Greenwood Medical Center
2  P002       Matthew Christensen HD           Mountainview Clinic
3  P003       Lisa Graham         A            Mountainview Clinic
4  P004       Greg Brown          HD           Sunrise Health
5  P005       Joshua Baker        HD           Greenwood Medical Center
6  P006       Wendy Richardson    A            Sunrise Health
7  P007       April Sanchez       A            Mountainview Clinic
8  P008       Melinda Moody       S            Sunrise Health
9  P009       Dylan Lopez DVM     A            Greenwood Medical Center
10 P010       Maria Bruce         F            Mountainview Clinic
11 P011       Kristine Lewis      A            Valley General Hospital
12 P012       Jessica Ibarra      F            Lakeside Hospital
13 P013       Matthew Rogers      F            Valley General Hospital
14 P014       Joseph Thompson     F            Sunrise Health
15 P015       Holly Contreras     HD           Greenwood Medical Center
16 P016       Heather Chandler    A            Greenwood Medical Center
17 P017       John Brown          A            Greenwood Medical Center
18 P018       Nathan Chase        HD           Lakeside Hospital
19 P019       Casey Norman        A            Greenwood Medical Center
20 P020       Nicholas Smith MD   C            Greenwood Medical Center
21 P021       Mary Cobb           S            Mountainview Clinic
22 P022       Thomas Logan        C            Valley General Hospital
23 P023       Anthony Anderson    F            Valley General Hospital
24 P024       Matthew Jones       A            Sunrise Health
25 P025       Kathryn Harrison    F            Mountainview Clinic
26 P026       Jose Young          C            Mountainview Clinic
27 P027       Samuel Herrera      C            Lakeside Hospital
28 P028       Wanda Simmons       F            Mountainview Clinic
29 P029       Whitney Fuller      C            Sunrise Health
30 P030       John Rodriguez      C            Valley General Hospital
31 P031       John Ibarra         C            Greenwood Medical Center
32 P032       Erica Foley         C            Greenwood Medical Center
33 P033       Spencer Wells       S            Mountainview Clinic
34 P034       Holly Mclaughlin    HD           Sunrise Health
35 P035       Ashley Johnson      HD           Greenwood Medical Center
   hospital_address hospital_city hospital_state hospital_zip_code
1  123 Maple St     Springfield   IL             62701
2  654 Birch Blvd   Boulder       CO             80302
3  654 Birch Blvd   Boulder       CO             80302
4  789 Oak Ave      Los Angeles   CA             90012
5  123 Maple St     Springfield   IL             62701
6  789 Oak Ave      Los Angeles   CA             90012
7  654 Birch Blvd   Boulder       CO             80302
8  789 Oak Ave      Los Angeles   CA             90012
9  123 Maple St     Springfield   IL             62701
10 654 Birch Blvd   Boulder       CO             80302
11 321 Pine Rd      Denver        CO             80203
12 456 Elm St       Madison       WI             53703
13 321 Pine Rd      Denver        CO             80203
14 789 Oak Ave      Los Angeles   CA             90012
15 123 Maple St     Springfield   IL             62701
16 123 Maple St     Springfield   IL             62701
17 123 Maple St     Springfield   IL             62701
18 456 Elm St       Madison       WI             53703
19 123 Maple St     Springfield   IL             62701
20 123 Maple St     Springfield   IL             62701
21 654 Birch Blvd   Boulder       CO             80302
22 321 Pine Rd      Denver        CO             80203
23 321 Pine Rd      Denver        CO             80203
24 789 Oak Ave      Los Angeles   CA             90012
25 654 Birch Blvd   Boulder       CO             80302
26 654 Birch Blvd   Boulder       CO             80302
27 456 Elm St       Madison       WI             53703
28 654 Birch Blvd   Boulder       CO             80302
29 789 Oak Ave      Los Angeles   CA             90012
30 321 Pine Rd      Denver        CO             80203
31 123 Maple St     Springfield   IL             62701
32 123 Maple St     Springfield   IL             62701
33 654 Birch Blvd   Boulder       CO             80302
34 789 Oak Ave      Los Angeles   CA             90012
35 123 Maple St     Springfield   IL             62701

## Question 6

In [29]:
p_id <- p_names %>%
left_join(dgs, by = c("patient_id")) %>%
select (patient_id, name, age, gender, condition_id)

head(p_id,35)

   patient_id name                age gender condition_id
1  P001       Mary Hicks          51  Male   C
2  P002       Matthew Christensen 73  Male   HD
3  P003       Lisa Graham         49  NA     A
4  P004       Greg Brown           6  Other  HD
5  P005       Joshua Baker        64  Other  HD
6  P006       Wendy Richardson    38  Other  A
7  P007       April Sanchez       36  Female A
8  P008       Melinda Moody       22  Other  S
9  P009       Dylan Lopez DVM     20  Male   A
10 P010       Maria Bruce         85  Other  F
11 P011       Kristine Lewis      61  Female A
12 P012       Jessica Ibarra      23  Other  F
13 P013       Matthew Rogers      54  Female F
14 P014       Joseph Thompson     22  Other  F
15 P015       Holly Contreras     29  Male   HD
16 P016       Heather Chandler    74  Female A
17 P017       John Brown          81  Female A
18 P018       Nathan Chase         7  Other  HD
19 P019       Casey Norman        28  Male   A
20 P020       Nicholas Smith MD   67  Male   C
21 P021       Mary Cobb           87  Female S
22 P022       Thomas Logan         1  Male   C
23 P023       Anthony Anderson    70  Male   F
24 P024       Matthew Jones       75  Male   A
25 P025       Kathryn Harrison    51  Male   F
26 P026       Jose Young          76  Other  C
27 P027       Samuel Herrera      10  Female C
28 P028       Wanda Simmons        8  Female F
29 P029       Whitney Fuller       2  Male   C
30 P030       John Rodriguez      NA  Male   C
31 P031       John Ibarra         75  Female C
32 P032       Erica Foley         47  Male   C
33 P033       Spencer Wells       66  Male   S
34 P034       Holly Mclaughlin    56  Other  HD
35 P035       Ashley Johnson      22  Other  HD

In [31]:
p_6 <- p_id %>%
left_join(treat, by = c("condition_id")) %>%
select(patient_id, name, age, gender, condition, treatment)

head(p_6,35)

   patient_id name                age gender condition
1  P001       Mary Hicks          51  Male   Cancer
2  P002       Matthew Christensen 73  Male   Heart Disease
3  P003       Lisa Graham         49  NA     Asthma
4  P004       Greg Brown           6  Other  Heart Disease
5  P005       Joshua Baker        64  Other  Heart Disease
6  P006       Wendy Richardson    38  Other  Asthma
7  P007       April Sanchez       36  Female Asthma
8  P008       Melinda Moody       22  Other  Stroke
9  P009       Dylan Lopez DVM     20  Male   Asthma
10 P010       Maria Bruce         85  Other  Fracture
11 P011       Kristine Lewis      61  Female Asthma
12 P012       Jessica Ibarra      23  Other  Fracture
13 P013       Matthew Rogers      54  Female Fracture
14 P014       Joseph Thompson     22  Other  Fracture
15 P015       Holly Contreras     29  Male   Heart Disease
16 P016       Heather Chandler    74  Female Asthma
17 P017       John Brown          81  Female Asthma
18 P018       Nathan Chase         7  Other  Heart Disease
19 P019       Casey Norman        28  Male   Asthma
20 P020       Nicholas Smith MD   67  Male   Cancer
21 P021       Mary Cobb           87  Female Stroke
22 P022       Thomas Logan         1  Male   Cancer
23 P023       Anthony Anderson    70  Male   Fracture
24 P024       Matthew Jones       75  Male   Asthma
25 P025       Kathryn Harrison    51  Male   Fracture
26 P026       Jose Young          76  Other  Cancer
27 P027       Samuel Herrera      10  Female Cancer
28 P028       Wanda Simmons        8  Female Fracture
29 P029       Whitney Fuller       2  Male   Cancer
30 P030       John Rodriguez      NA  Male   Cancer
31 P031       John Ibarra         75  Female Cancer
32 P032       Erica Foley         47  Male   Cancer
33 P033       Spencer Wells       66  Male   Stroke
34 P034       Holly Mclaughlin    56  Other  Heart Disease
35 P035       Ashley Johnson      22  Other  Heart Disease
   treatment
1  Chemotherapy
2  Bypass Surgery
3  Inhaler Therapy
4  Bypass Surgery
5  Bypass Surgery
6  Inhaler Therapy
7  Inhaler Therapy
8  Rehabilitation Therapy
9  Inhaler Therapy
10 Surgery
11 Inhaler Therapy
12 Surgery
13 Surgery
14 Surgery
15 Bypass Surgery
16 Inhaler Therapy
17 Inhaler Therapy
18 Bypass Surgery
19 Inhaler Therapy
20 Chemotherapy
21 Rehabilitation Therapy
22 Chemotherapy
23 Surgery
24 Inhaler Therapy
25 Surgery
26 Chemotherapy
27 Chemotherapy
28 Surgery
29 Chemotherapy
30 Chemotherapy
31 Chemotherapy
32 Chemotherapy
33 Rehabilitation Therapy
34 Bypass Surgery
35 Bypass Surgery